<div class="text-center">
    <span>Cliquez sur une lettre:</span>
    {{#each lettre}}
    <a class="p-2" href="/repertoire/{{this.lettre}}">{{this.lettre}}</a>
    {{/each}}


</div>


<div class="container">
    <div class=" col-md-12 row d-flex justify-content-center">
        {{#each star}}
        <div class="col-md-1.5 p-4 text-center">
            <a href="/repertoire/vip/{{this.VIP_NUMERO}}">
                <img id="img-perfil" alt="photo" class="img-fluid" src="/images/vip/{{this.PHOTO_ADRESSE}}" />
            </a>
            <div class="pt-2">
                <a href="/repertoire/vip/{{this.VIP_NUMERO}}">
                    <p>{{this.VIP_NOM}} {{this.VIP_PRENOM}}</p>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="p-4 text-justify">
    {{#if premiereImage.PHOTO_ADRESSE}}
        <img id="img-perfil" class="float-left pr-2" src="/images/vip/{{premiereImage.PHOTO_ADRESSE}}" alt="">
    {{/if}}

    {{#each infoStar}}
    <div class="pb-2"><b>Nom : </b> {{this.VIP_NOM}} {{this.VIP_PRENOM}}</div>
    <div class="pb-2"><b>Date de naissance : </b>{{formatDate this.VIP_NAISSANCE  'dddd D MMMM YYYY'}}</div>
    <div class="pb-2"><b>Nationalité : </b> {{this.NATIONALITE_NOM}}</div>
    {{/each}}
    {{#if InfoActeur}}
    <div><b>Profession :</b>
        {{#each infoStar}}
        {{#ifCond this.VIP_SEXE '==''M'}}
        Acteur
        {{else}}
        Actrice
        {{/ifCond}}
        {{/each}}
    </div>
    <div><strong>Principal(aux) film(s) : </strong>
        {{#each InfoActeur}}
        {{this.FILM_TITRE}} ({{formatDate this.FILM_DATEREALISATION  'MMMM YYYY'}}) de
        <div class="my_tooltip"><a href="/repertoire/vip/{{this.VIP_NUMERO}}">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</a>
            <span class="text-left my_tooltiptext"><img class="float-left p-1" src="/images/vip/{{this.PHOTO_ADRESSE}}" alt=""
                    height="50px">{{this.VIP_PRENOM}}
                {{this.VIP_NOM}} {{this.txt}} ...
            </span>
        </div>
        <br>
        {{/each}}
    </div>
    {{/if}}

    {{#if InfoChanteur}}
    <div><b>Profession :</b>
        {{#each infoStar}}
        {{#ifCond this.VIP_SEXE '==''M'}}
        chanteur
        {{else}}
        chanteuse
        {{/ifCond}}
        {{/each}}
        ({{InfoChanteur.0.CHANTEUR_SPECIALITE}})
    </div>
    <div><strong>Principal(aux) album(s) : </strong>
        {{#each InfoChanteur}}
        {{this.ALBUM_TITRE}} ({{formatDate this.ALBUM_DATE  'MMMM YYYY'}}) {{this.MAISONDISQUE_NOM}}<br>
        {{/each}}
    </div>
    {{/if}}
    {{#if InfoMannequin}}
    <div><b>Profession :</b> Mannequin</div>
    <div><strong>Principal(aux) défilé(s) : </strong>
        {{#each InfoMannequin}}
        {{this.DEFILE_LIEU}} ({{formatDate this.DEFILE_DATE  'MMMM YYYY'}})
        <div class="my_tooltip"><a href="/repertoire/vip/{{this.VIP_NUMERO}}">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</a>
            <span class="text-left my_tooltiptext"><img class="float-left p-1" src="/images/vip/{{this.PHOTO_ADRESSE}}" alt=""
                    height="50px">{{this.VIP_PRENOM}}
                {{this.VIP_NOM}} {{this.txt}}</span>
        </div>
        {{/each}}
        </p>
        {{/if}}
        {{#if infoRealisateur}}
        <div><strong>Profession :</strong>
            {{#each infoStar}}
            {{#ifCond this.VIP_SEXE '==''M'}}
            Realisateur
            {{else}}
            Realisatrice
            {{/ifCond}}
            {{/each}}
        </div>
        <div><strong>Principal(aux) film(s) : </strong>
            {{#ifCond infoRealisateur.0.FILM_TITRE '!=''null'}}
            {{#each infoRealisateur}}
            {{this.FILM_TITRE}} (({{formatDate this.FILM_DATEREALISATION  'MMMM YYYY'}}))
            {{/each}}
            {{/ifCond}}
        </div>
        {{/if}}

        {{#if infoCouturier}}
        <div><b>Profession :</b>
            {{#each infoStar}}
            {{#ifCond this.VIP_SEXE '==''M'}}
            Couturier
            {{else}}
            Couturière
            {{/ifCond}}
            {{/each}}
        </div>
        <div><strong>Principal(aux) défilé(s) : </strong>
            {{#each infoCouturier}}
            {{this.DEFILE_LIEU}} (({{formatDate this.DEFILE_DATE  'MMMM YYYY'}})
            {{/each}}
        </div>
        {{/if}}

        {{#if infoMariage}}
        <div class="pb-2"><strong>Mariage(s) : </strong>
            {{#each infoMariage}}
            <div class="my_tooltip"><a href="/repertoire/vip/{{this.VIP_NUMERO}}">{{this.VIP_PRENOM}}
                    {{this.VIP_NOM}}</a>
                <span class="text-left my_tooltiptext"><img class="float-left p-1" src="/images/vip/{{this.PHOTO_ADRESSE}}" alt=""
                        height="50px">{{this.VIP_PRENOM}}
                    {{this.VIP_NOM}} {{this.txt}}</span>
            </div>
            {{#if this.MARIAGE_FIN}}
            ({{formatDate this.DATE_EVENEMENT  'MMMM YYYY'}} -> {{formatDate this.MARIAGE_FIN  'MMMM YYYY'}})
            {{else}}
            ({{formatDate this.DATE_EVENEMENT  'MMMM YYYY'}})
            {{/if}}
            <b>lieu : </b> {{this.MARIAGE_LIEU}}<br>
            {{/each}}
        </div>
        {{/if}}
        {{#if infoLiaison}}
        <div class="pb-2"><b>Liaison(s) : </b>
            {{#each infoLiaison}}
            <div class="my_tooltip"><a href="/repertoire/vip/{{this.VIP_NUMERO}}">{{this.VIP_PRENOM}}
                    {{this.VIP_NOM}}</a>
                <span class="text-left my_tooltiptext"><img class="float-left p-1" src="/images/vip/{{this.PHOTO_ADRESSE}}" alt=""
                        height="50px">{{this.VIP_PRENOM}}
                    {{this.VIP_NOM}} {{this.txt}}</span>
            </div>
            ({{formatDate this.DATE_EVENEMENT  'MMMM YYYY'}})

            <b>raison fin liaison : </b> {{this.LIAISON_MOTIFFIN}}<br>
            {{/each}}
        </div>
        {{/if }}
        {{#if infoStar}}
        <div class="pb-2"><b>Qui suis-je ?</b> {{#each infoStar}}{{this.VIP_TEXTE}}{{/each}}</div>
        {{/if}}

       <div class="text-center">
            {{#each listeImage}}
        {{#ifCond this.PHOTO_NUMERO '!=' 1 }}
        
            <a href="/images/vip/{{this.PHOTO_ADRESSE}}" data-lightbox="{{this.PHOTO_ADRESSE}}" data-title="{{this.PHOTO_SUJET}} - {{this.PHOTO_COMMENTAIRE}}"> 
            <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="" height="80px" />
            </a>
        
        {{/ifCond}}
        {{/each}}
       </div>
    </div>