<div class="d-flex flex-row justify-content-around ">
    <div class="cont_foto_un_vip p-2 border " >
    {{#each photoVip}}
        <div class="text-center">
            {{this.VIP_NOM}} {{this.VIP_PRENOM}}
        </div>
        <div class="text-center mb-2">
            {{#if ../photoPrevious}}<a href="/album/{{../num}}/{{this.vip}}/{{../photoPrevious}}"><<</a> 
            {{/if}} 
            <img src="/images/vip/{{this.addr}}" height="150px" />
            
            {{#if ../photoNext}}
            <a href="/album/{{../num}}/{{this.vip}}/{{../photoNext}}">>></a>
            {{/if}}
        </div>
        <div class=" pl-2 border ">
            <span id="t_comment" class="position-relative">Commentaire</span>
            <p class="text-center">{{this.comm}}</p>
        </div>
    {{/each}}
    </div>
    <div class="cont_photo_all_vips border p-2 text-center">
          <div class="" >
        {{#each photoAddr}}
            <a href="/album/{{../num}}/{{this.vip}}/1">
                <img src="/images/vip/{{this.addr}}" width="20%" height="60px">
            </a>
        {{/each}}
        </div>

        <div class="p-2">
            {{#ifCond next '<=' nbPageMax}}
                <a class="border p-1" href="/album/0/{{vip}}/{{numPhoto}}">Début</a>    
                {{#ifCond previous '>=' 0}}<a class="border p-1" href="/album/{{previous}}/{{vip}}/{{numPhoto}}">Précedent</a>
                {{/ifCond}}
                 <a class="border p-1" href="/album/{{next}}/{{vip}}/{{numPhoto}}">Suivant</a>
                <a class="border p-1" href="/album/{{nbPageMax}}/{{vip}}/{{numPhoto}}">Fin</a>
            {{else}} 
                <a class="border p-1" href="/album/0/{{vip}}/{{numPhoto}}">Début</a>    
                {{#if previous}}<a class="border p-1" href="/album/{{previous}}/{{vip}}/{{numPhoto}}">Précedent</a>
                {{/if}} 
            {{/ifCond}}    
        </div>
    </div>

</div>